In [1]:
#for loop 
#while loop

In [2]:
for (i = 0: i<5; i++)

SyntaxError: invalid syntax (Temp/ipykernel_16364/1711202397.py, line 1)

In [3]:
#range(5) 0,1,2,3,4
range(1,5) 1,2,3,4
range(1,10,2) 1,3,5,7,9

In [4]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [5]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [6]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [7]:
for i in range(1,10,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [8]:
for i in range(10,0,-1):
    print(i,"hello world")

10 hello world
9 hello world
8 hello world
7 hello world
6 hello world
5 hello world
4 hello world
3 hello world
2 hello world
1 hello world

In [10]:
n = int(input("Enter n= "))
for i in range (1,11):
    print(i*n)

Enter n= 5
5
10
15
20
25
30
35
40
45
50

In [12]:
n = int(input("Enter n= "))
for i in range (1,11):
    print(n, "*",i,"=",i*n)

Enter n= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
s = 0
n = int(input("Enter n = "))
for i in range(n): 
    x = int(input("Enter x = "))
    s = s+x
    
    
print(s)

Enter n = 5
Enter x = 6
Enter x = 2

In [ ]:
s = str()
n = int(input("Enter n = "))
for i in range(n): 
    x = int(input("Enter x = "))
    s = s+x+"\n"


print(s)

In [3]:
s = str()
n = int(input("Enter n = "))
for i in range(n): 
    name = input("Enter name = ")
    phone = input("Enter phone =")
    s = s+name+" "+phone+"\n"


print(s)

Enter n = 2
Enter name = Ram
Enter phone =986522454
Enter name = Shyam
Enter phone =522554
Ram 986522454
Shyam 522554

In [4]:
#5! =1*2*3*4
fac= 1
n= int(input("Enter n= "))
for i in range(1,n+1):
    print(fac*i)

Enter n= 5
1
2
3
4
5

In [6]:
fac= 1
n= int(input("Enter n= "))
for i in range(1,n+1):
   
    fac= fac*i
print(fac)

Enter n= 5
120

In [7]:
fac= 1
n= int(input("Enter n= "))
for i in range(1,n+1):
   
    fac= fac*i
    print(fac)

Enter n= 5
1
2
6
24
120

In [8]:
a = "Python"
for i in a:
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [10]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [11]:
a = "Hello world I am python"
for i in a:
    if i != " ":
        print(i)

H
e
l
l
o
w
o
r
l
d
I
a
m
p
y
t
h
o
n

In [12]:
a = "Hello world I am python"
for i in a:
    if i != " ":
        print(i,end ="")

HelloworldIampython

In [13]:
a = "Hello world I am python"
for i in a:
    if i != " ":
        print(i,end =".")

H.e.l.l.o.w.o.r.l.d.I.a.m.p.y.t.h.o.n.

In [14]:
a = "Hello world I am python"
for i in a:
    if i != " ":
        print(i,end =" ")

H e l l o w o r l d I a m p y t h o n

In [15]:
# #Control Statements
# break
# continue
# pass

In [18]:
# break statemetn
for i in range(10):
    if i== 5:
        break
    else:
        print(i)

0
1
2
3
4

In [20]:
#continue statement
for i in range(10):
    if i== 5:
        continue
    else:
        print(i,end ="")

012346789

In [21]:
a = "Hello world I am python"
for i in a:
    if i == " ":
        continue
    print(i,end="")

HelloworldIampython