In [1]:
# Dictionary
# Indexed
# ordered
# Multiple data
# Mutable

In [3]:
# a = {<key>:<value>,<key>:<value>}
a = {"a":"apple", "b":"ball","c":"cat"}
print(a)
print(type(a))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [4]:
a["a"]

'apple'

In [6]:
print(a["b"])

ball

In [7]:
print(len(a))

3

In [10]:
a = {"a":"apple", "b":"ball","c":"cat"}
a['d'] = "dog"
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [11]:
a ={}
a['a'] = "apple"
a['b'] = "ball"
a['c'] = "cat"
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [14]:
data = {}
n = int(input('enter n='))
for i in range(n):
    name = input("enter name=")
    phone = int(input("enter phone="))
    data[name] = phone
    
print(data)

enter n=2
enter name=ram
enter phone=125
enter name=shyam
enter phone=159
{'ram': 125, 'shyam': 159}

In [15]:
a = {'ram': 98654789, 'Shyam':98635241}
for i in a:
    print(i)

ram
Shyam

In [16]:
a = {'ram': 98654789, 'Shyam':98635241}
for i in a.values():
    print(i)

98654789
98635241

In [17]:
a = {'ram': 98654789, 'Shyam':98635241}
for i in a.items():
    print(i)

('ram', 98654789)
('Shyam', 98635241)

In [19]:
a = {'ram': 98654789, 'Shyam':98635241}
del a["ram"]

print(a)

{'Shyam': 98635241}

In [20]:
a = {'ram': 98654789, 'Shyam':98635241}
a.pop('ram')
print(a)

{'Shyam': 98635241}

In [22]:
a = {'ram': 98654789, 'Shyam':98635241}
b =a.pop('ram')
print(a)
print(b)

{'Shyam': 98635241}
98654789

In [1]:
# # list inside dictionaries
# a = {'ram': [98654789,985632147], 'Shyam':[98635241,987563214]} #list for multiple values

info={}
n = int(input('enter n='))
for i in range (n):
    name =input('enter name =')
    ntc_phone= int(input('enter ntc phone='))
    ncell_phone= int(input('enter ncell phone='))
    info[name]= [ntc_phone,ncell_phone]
print(info)

enter n=2
enter name =Ram
enter ntc phone=98563214
enter ncell phone=98023654
enter name =Shyam
enter ntc phone=985647123
enter ncell phone=9806352147
{'Ram': [98563214, 98023654], 'Shyam': [985647123, 9806352147]}

In [3]:
a= {'Ram': [98563214, 98023654], 'Shyam': [985647123, 9806352147]}
a['Ram'][0]

98563214

In [4]:
a= {'Ram': [98563214, 98023654], 'Shyam': [985647123, 9806352147]}
a['Ram'].append(985632478)
a

{'Ram': [98563214, 98023654, 985632478], 'Shyam': [985647123, 9806352147]}

In [5]:
a["Hari"] = [9854789321,978564123]
a

{'Ram': [98563214, 98023654, 985632478],
 'Shyam': [985647123, 9806352147],
 'Hari': [9854789321, 978564123]}

In [7]:
a= {'name':["Ram","Shyam"],
    "NTC":[9845631,985248],
   "Ncell":[98023654,985214789]}
a

{'name': ['Ram', 'Shyam'],
 'NTC': [9845631, 985248],
 'Ncell': [98023654, 985214789]}

In [8]:
info={'Name':[],"NTC":[], "NCELL":[]}
n = int(input('enter n='))
for i in range (n):
    name =input('enter name =')
    ntc_phone= int(input('enter ntc phone='))
    ncell_phone= int(input('enter ncell phone='))
    info["Name"].append(name)
    info["NTC"].append(ntc_phone)
    info["NCELL"].append(ncell_phone)
    
print(info)

enter n=2
enter name =Ram
enter ntc phone=98657453211
enter ncell phone=980665474
enter name =Shyam
enter ntc phone=986554444
enter ncell phone=9802365417
{'Name': ['Ram', 'Shyam'], 'NTC': [98657453211, 986554444], 'NCELL': [980665474, 9802365417]}

In [10]:
info = [{"Name":"Ram", "Age":34, "Add":"Kathmandu"},
       {"Name":"SHyam", "Age":34, "Add":"Bhaktapur"},
       {"Name":"Hari", "Age":36, "Add":"Patan"},
       {"Name":"Sita", "Age":39, "Add":"Bara"}]

info[0]

{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}

In [11]:
info[0]['Name']

'Ram'

In [12]:
info[0]['Name']= "Ram prasad"
info

[{'Name': 'Ram prasad', 'Age': 34, 'Add': 'Kathmandu'},
 {'Name': 'SHyam', 'Age': 34, 'Add': 'Bhaktapur'},
 {'Name': 'Hari', 'Age': 36, 'Add': 'Patan'},
 {'Name': 'Sita', 'Age': 39, 'Add': 'Bara'}]

In [14]:
info = []
n = int(input('enter n='))
for i in range (n):
    name = input('enter name=')
    age = int(input('enter age='))
    add = input('enter address=')
    data ={"Name":name, "Age":age, "Add":add}
    info.append(data)
print(info)

enter n=2
enter name=Ram
enter age=25
enter address=KTM
enter name=SHyam
enter age=26
enter address=patan
[{'Name': 'Ram', 'Age': 25, 'Add': 'KTM'}, {'Name': 'SHyam', 'Age': 26, 'Add': 'patan'}]

In [16]:
data = {'coke':100,'pizza':850}

product = input("enter product name=")
price= data[product]
quantity = int(input("enter quantity="))

total = price*quantity
print(total)

enter product name=coke
enter quantity=2
200

In [2]:
# dictionary inside dictionary
a= {1:{"Name":"Ram", "Age":34, "Add":"Kathmandu"},
   2:{"Name":"SHyam", "Age":34, "Add":"Bhaktapur"},
   3:{"Name":"Hari", "Age":36, "Add":"Patan"},
   4:{"Name":"Sita", "Age":39, "Add":"Bara"}}
print(a)

{1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, 2: {'Name': 'SHyam', 'Age': 34, 'Add': 'Bhaktapur'}, 3: {'Name': 'Hari', 'Age': 36, 'Add': 'Patan'}, 4: {'Name': 'Sita', 'Age': 39, 'Add': 'Bara'}}

In [3]:
print(a[2])

{'Name': 'SHyam', 'Age': 34, 'Add': 'Bhaktapur'}

In [4]:
a [437474] = {'Name': 'Gita', "Age":25, "Add": "Lalitpur"}
a

{1: {'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'},
 2: {'Name': 'SHyam', 'Age': 34, 'Add': 'Bhaktapur'},
 3: {'Name': 'Hari', 'Age': 36, 'Add': 'Patan'},
 4: {'Name': 'Sita', 'Age': 39, 'Add': 'Bara'},
 437474: {'Name': 'Gita', 'Age': 25, 'Add': 'Lalitpur'}}

In [1]:
# WAP to create dictionary inside dictionary

In [ ]:
info = {}
n = int(input('enter n='))
for i in range (n):
    name = input('enter name=')
    age = int(input('enter age='))
    add = input('enter address=')
    info = {"Name":name, "Age":age, "Add":add}
    
print(info)

In [5]:
info = {}
n = int(input('enter n='))
for i in range (n):
    name = input('enter name=')
    age = int(input('enter age='))
    add = input('enter address=')
    info ={"Name":name, "Age":age, "Add":add}
   
    
print(info)

enter n=2
enter name=ram
enter age=34
enter address=ktm
enter name=sam
enter age=34
enter address=brt
{'Name': 'sam', 'Age': 34, 'Add': 'brt'}