In [1]:
# #list
# -indexed
# -ordered
# -multiple and duplicate
# -mutable

In [2]:
list
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
l = len(a)
print(l)
print(a)
print(type(a))

5
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
<class 'list'>

In [3]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a[0])

Apple

In [4]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [5]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b = [1,2,3,4,5]
c = b+a
print(c)

[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [25]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [6]:
a = [1,2,3,4,5, "Apple", "Ball", "Cat", "Dog", "Fish", 1, 2]
l = len(a)
l

12

In [7]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [8]:
l= list()
n =int(input("enter value of n="))
for i in range(n):
    x= int (input("enter x="))
    l.append(x)
    
print(l)

enter value of n=3
enter x=5
enter x=4
enter x=3
[5, 4, 3]

In [9]:
#max min sum

In [11]:
a = [12, 76, 909, 78]
print(max(a))
print(min(a))
print(sum(a))

909
12
1075

In [13]:
a = [12.5, 76.3, 909.57, 78]
print(max(a))
print(min(a))

909.57
12.5

In [14]:
a.sort()
print(a)

[12.5, 76.3, 78, 909.57]

In [17]:
a =["Ram", "Hari", "Sita", "Geeta", "apple"]
a.sort()
print(a)

['Geeta', 'Hari', 'Ram', 'Sita', 'apple']

In [18]:
a =["Ram", "Hari", "Sita", "Geeta", "apple"]
for i in(a):
    print(i)

Ram
Hari
Sita
Geeta
apple

In [20]:
a =["Ram", "Hari", "Sita", "Geeta", "apple"]
if "apple" in a:
    print("yes")
    print(a.count("apple"))

yes
1

In [21]:
#append() insert() extend()

In [22]:
a = []
a.append("apple")
print(a)

['apple']

In [23]:
a =["Ram", "Hari", "Sita", "Geeta", "apple"]
a.insert(1,"Ant")
print(a)

['Ram', 'Ant', 'Hari', 'Sita', 'Geeta', 'apple']

In [24]:
a = ["Ram", "Hari", "Sita", "Geeta", "apple"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Ram', 'Hari', 'Sita', 'Geeta', 'apple', 1, 2, 3, 4, 5]

In [26]:
# remove() del pop()
a = a = ["Ram", "Hari", "Sita", "Geeta", "apple"]
a.remove('apple')
a

['Ram', 'Hari', 'Sita', 'Geeta']

In [27]:
a = a = ["Ram", "Hari", "Sita", "Geeta", "apple"]
del a[0]
a

['Hari', 'Sita', 'Geeta', 'apple']

In [31]:
a = ["Ram", "Hari", "Sita", "Geeta", "apple"]
del a[0:3]
a

['Geeta', 'apple']

In [30]:
a = ["Ram", "Hari", "Sita", "Geeta", "apple"]
a.index("apple")

4

In [32]:
a = ["Ram","apple", "Hari", "apple","Sita", "Geeta", "apple"]
a.remove("apple")
a

['Ram', 'Hari', 'apple', 'Sita', 'Geeta', 'apple']

In [33]:
a = ["Ram","apple", "Hari", "apple","Sita", "Geeta", "apple"]
for i in a:
    if i == "apple":
        a.remove("apple")     #2 ta apple sangai vayo vane hudaina
a

['Ram', 'Hari', 'Sita', 'Geeta']

In [36]:
a = ["Ram","apple","apple", "Hari", "apple","Sita", "Geeta", "apple"]
l = a.count('apple')

for i in range(l):
    if a[i] == "apple":
        a.remove(a[i])
        
a

['Ram', 'Hari', 'apple', 'Sita', 'Geeta', 'apple']

In [37]:
b= []
a = ["Ram","apple","apple", "Hari", "apple","Sita", "Geeta", "apple"]
for i in a:
    if i != "apple":
        b.append(i)
print(b)

['Ram', 'Hari', 'Sita', 'Geeta']

In [1]:
#WAP to detect index of same value

In [2]:
a = ["Ram","apple","apple", "Hari", "apple","Sita", "Geeta", "apple"]
for i in range(len(a)):
    if a[i] == 'apple':
        print(i)

1
2
4
7

In [3]:
#list inside list
a = [[1,2,3,],
     [4,5,6],
     [7,8,9]]
print(len(a))

3

In [4]:
print(a[2])

[7, 8, 9]

In [5]:
a = [["Ram", 34, "Kathmandu"],
     ["Shyam", 23,"Lalitpur"],
     ["Hari", 54, "Bhaktapur"]]
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 23, 'Lalitpur'],
 ['Hari', 54, 'Bhaktapur']]

In [6]:
a[0][1]

34

In [8]:
name = input("Enter name =")
for i in a:
    if name in i:
        print(i)

Enter name =Ram
['Ram', 34, 'Kathmandu']

In [10]:
info =[]
n = int(input("Enter n= "))
for i in range(n):
    name= input("enter name =")
    age = int(input('enter age ='))
    add= input("enter address= ")
    data= [name, age, add]
    info.append(data)
    
print(info)

Enter n= 2
enter name =Ram
enter age =22
enter address= Patan
enter name =Shyam
enter age =23
enter address= Bhaktapur
[['Ram', 22, 'Patan'], ['Shyam', 23, 'Bhaktapur']]

In [11]:
a = [["Ram", 34, "Kathmandu"],["Shyam", 23,"Lalitpur"],["Hari", 54, "Bhaktapur"]]
del a[0]
a

[['Shyam', 23, 'Lalitpur'], ['Hari', 54, 'Bhaktapur']]

In [12]:
a = [["Ram", 34, "Kathmandu"],["Shyam", 23,"Lalitpur"],["Hari", 54, "Bhaktapur"]]
a[0][0] ="Ram Prasad"
a

[['Ram Prasad', 34, 'Kathmandu'],
 ['Shyam', 23, 'Lalitpur'],
 ['Hari', 54, 'Bhaktapur']]

In [13]:
a = [["Shyam", 23,"Lalitpur"],["Hari", 54, "Bhaktapur"]]
a.append(["Ram, 23, KTM"])
a

[['Shyam', 23, 'Lalitpur'], ['Hari', 54, 'Bhaktapur'], ['Ram, 23, KTM']]

In [14]:
a = [["Shyam", 23,"Lalitpur"],["Hari", 54, "Bhaktapur"]]

name = input("Enter name =")
for i in a:
    if name in i:
        a.remove(i)
a

Enter name =Ram

[['Shyam', 23, 'Lalitpur'], ['Hari', 54, 'Bhaktapur']]

In [ ]:
# WAP to create a matrix by taking row and column