In [3]:
import pandas as pd 
df = pd.read_csv('datas.csv')
df

   Unnamed: 0  sn   name  age address       phone
0           0   1  shyam   34     ktm   988736333
1           1   2   hari   23     pkr  9876273743
2           2   3  sabin   32     bkt  9835021830
3           3   4    ram   21     ktm  9846363733
4           4   5  nabin   44     pkr  9870184844
5           5   6  akash   31     bkt  9847385478

In [4]:
print(df.head())

   Unnamed: 0  sn   name  age address       phone
0           0   1  shyam   34     ktm   988736333
1           1   2   hari   23     pkr  9876273743
2           2   3  sabin   32     bkt  9835021830
3           3   4    ram   21     ktm  9846363733
4           4   5  nabin   44     pkr  9870184844