In [1]:
a ="hello world"
print (a)
print(type(a))

hello world
<class 'str'>

In [4]:
a = "hello "
b = "world"
c = a +b
print(c)

hello world

In [6]:
a = "hello world\n"
print(a*2)

hello world
hello world

In [8]:
a ="hello world"
print(a[2])

l

In [9]:
a ="hello world"
print(a[0:5])

hello

In [10]:
a ="hello world"
print(a[0:10:1])

hello worl

In [11]:
a ="hello world"
print(a[0:10:2])

hlowr

In [12]:
a ="hello world"
print(a[0:11:1])

hello world

In [13]:
a ="hello world"
b= a[0:5]
c =a[5:]
print(b)
print(c)

hello
 world

In [ ]:
a ="hello world"
a[-3]

In [15]:
a ="hello world"
l =len(a)
print(a[l::-1])

dlrow olleh

In [16]:
a ="hello world"
print(a[::-1])

dlrow olleh

In [21]:
#string formatting
name = input("enter name =")
age = int(input("enter age ="))
add = input("enter address =")

info = f"hello i am {name} I am from {add} I am {age} years old"
print(info)

enter name =ram
enter age =12
enter address =Kathmandu
hello i am ram I am from Kathmandu I am 12 years old

In [24]:
a = 'ram shyam hari gita ravi ram nabin'
name = input("enter name =")
if name in a:
    print("yes")
    print(a.count(name))

enter name =ram
yes
2

In [26]:
a = 'ram shyam hari gita ravi ram nabin'
a.upper()

'RAM SHYAM HARI GITA RAVI RAM NABIN'

In [31]:
a = 'Ram Shyam Hari Gita Ravi Ram Nabin'.lower()
name = input("enter name =").lower()
if name in a:
    print("yes")
    print(a.count(name))

enter name =rAm
yes
2

In [32]:
a = 'ram shyam hari gita ravi ram nabin'
a.title()

'Ram Shyam Hari Gita Ravi Ram Nabin'

In [33]:
a = 'ram shyam hari gita ravi ram nabin'
a.upper()
print(a)
#immutable data type

ram shyam hari gita ravi ram nabin

In [34]:
a = 'ram shyam hari gita ravi ram nabin'
a = a.upper()
print(a)

RAM SHYAM HARI GITA RAVI RAM NABIN

In [38]:
a = 'ram shyam hari gita ravi ram nabin'
a = a.replace('ram','Ram')
print(a)

Ram shyam hari gita ravi Ram nabin

In [39]:
a = 'ram shyam hari gita ravi ram nabin'
a = a.replace('ram','')
print(a)

 shyam hari gita ravi  nabin

In [43]:
a = 10
b = 2
a
b

2

In [2]:
# #wap to develop billing application using string and loop
# name
# price
# quantity
# total

# grand total

In [5]:
n = int(input("enter n= "))
s = 0
for i in range (n): 
    Name = input("Enter name =")
    price = int(input("Enter price ="))
    quantity = int(input("Enter quantity ="))
    total = price*quantity 
    info = f" The grand total amt is {total}"
    print(info, "total" total)
    s = s+total
        
print(info)

enter n= 2
Enter name =bread
Enter price =50
Enter quantity =5
Enter name =milk
Enter price =5
Enter quantity =10
 The grand total amt is 50