In [1]:
# tuple
# -indexed
# -ordered
# -multiple and duplicate
# -imutable

In [3]:
a = tuple()
a = (1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [4]:
a = (1,)       #use comma for tuple
b =('Apple')
print(type(a))
print(type(b))

<class 'tuple'>
<class 'str'>

In [5]:
a =("Apple", "Ball", "Cat", "Dog")
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog')
('Apple', 'Cat')

In [6]:
a =("Apple", "Ball", "Cat", "Dog")
b =("Fish",)   #comma
c =a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [7]:
a =("Apple", "Ball", "Cat", "Dog")
a*2

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [8]:
# imutable i.e
# no append() insert() update delete remove pop

In [1]:
t = tuple()
n = int(input('enter n ='))
for i in range(n):
    x = input("enter x= ")
    t = t+(x,)

print(t)

enter n =2
enter x= Apple
enter x= Ball
('Apple', 'Ball')

In [2]:
a = 10,11,12
a

(10, 11, 12)

In [4]:
a =("Apple", "Ball", "Cat", "Dog")
b= list(a)
del b[0]
a= tuple(b)
a

('Ball', 'Cat', 'Dog')

In [ ]:
# tuple inside tuple
 a = (("Ram", 34, "Kathmandu")
     ("Shyam", 23,"Lalitpur"),
     ("Hari", 54, "Bhaktapur"))
a

In [7]:
 a = (("Ram", 34, "Kathmandu"),
     ("Shyam", 23,"Lalitpur"),
     ("Hari", 54, "Bhaktapur"))
b=(("Nabin",34, "Chitwan"),)
print(a+b)

(('Ram', 34, 'Kathmandu'), ('Shyam', 23, 'Lalitpur'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 34, 'Chitwan'))

In [8]:
 a = (("Ram", 34, "Kathmandu"),
     ("Shyam", 23,"Lalitpur"),
     ("Hari", 54, "Bhaktapur"))
b=list(a)
b

[('Ram', 34, 'Kathmandu'),
 ('Shyam', 23, 'Lalitpur'),
 ('Hari', 54, 'Bhaktapur')]

In [9]:
del b[0]
b

[('Shyam', 23, 'Lalitpur'), ('Hari', 54, 'Bhaktapur')]

In [11]:
b.append(("Nabin", 89, "Bara"))
b

[('Shyam', 23, 'Lalitpur'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 89, 'Bara')]

In [12]:
b[0]

('Shyam', 23, 'Lalitpur')

In [1]:
# wap to convert tuple inside tuple to list inside list and vice versa
# wap to perform CRUD list inside tuple
#([])
 a = (("Ram", 34, "Kathmandu"),
     ("Shyam", 23,"Lalitpur"),
     ("Hari", 54, "Bhaktapur"))
b = list(a)
b

IndentationError: unexpected indent (Temp/ipykernel_8060/195970390.py, line 4)