In [1]:
b = open('data.txt','r')
x = b.read().split('\n')
print(x)
b.close()

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'

In [3]:
try:
    b = open ('data.txt',"x")
    b.close()
except:
    print("The file is already there")

The file is already there

In [5]:
b = open('data.txt',"r")
x = b.read()
print (type(x))
print(x)
print (b.read())
b.close()

<class 'str'>
1. Hello world
2. Hello World
3. Hello World

In [7]:
a = 'Apple, Ball, Cat, Dog'
print(type(a))
a.split("-")

<class 'str'>

['Apple, Ball, Cat, Dog']

In [8]:
with open ('data.txt',"r") as b:
    print (b.read())

1. Hello world
2. Hello World
3. Hello World

In [9]:
line_no = int(input("enter line_no ="))
print(x[line_no-1])

enter line_no =1
1

In [13]:
b = open('data.txt', 'r')
print(b.read(3))
b.close()

hel

In [12]:
b = open('datas.txt', 'w')
b.write('hello world I am python')
b.close()

In [23]:


n = int(input("enter n= "))
name = input("enter name =")
age = int(input("enter age ="))
add = input("enter address =")

info = f"hello i am {name} I am from {add} I am {age} years old"
print(info)

b= open('datas.txt', 'w')
b.write(info)
b.close()

enter n= 2
enter name =ram
enter age =23
enter address =ktm
hello i am ram I am from ktm I am 23 years old

In [24]:
n = int(input("enter n= "))
name = input("enter name =")
age = int(input("enter age ="))
add = input("enter address =")

info = f"hello i am {name} I am from {add} I am {age} years old"
print(info)

b= open('datas.csv', 'w')
b.write(info)
b.close()

enter n= 1
enter name =ram
enter age =23
enter address =ktm
hello i am ram I am from ktm I am 23 years old

In [25]:
pwd

'C:\\Users\\Lenovo'

In [31]:
s =str ()

name = input("enter name =")
age = int(input("enter age ="))
add = input("enter address =")

info = f"hello i am {name} I am from {add} I am {age} years old \n"
print(info)

b= open('datas.csv', 'w')
b.write('name,phone, add \n')
b.write(s)
b.close()

enter name =ram
enter age =34
enter address =ktm
hello i am ram I am from ktm I am 34 years old

In [2]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

Empty DataFrame
Columns: [name, phone,  add ]
Index: []